$body-bg-color: #282424;

[mat-fab] {
  position: absolute;
  right: 2%;
  top: 35vh;
}

.chat-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -5!important;
}

.chat-input {
  padding-top: 20px;
  width: 80%;
  z-index: -5!important;
}

.chat-list {
  overflow: auto;
  position: fixed;
  top: 90px;
  left: 25px;
  right: 25px;
  bottom: 120px;
  z-index: -5!important;
}

.chat-list-item {
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: #e8eaf6;
  z-index: -5!important;
}

.main-card {
  height: 100%;
  z-index: -5!important;
}

.chat-footer-container {
  position: fixed;
  bottom: 25px;
  left: 25px;
  right: 25px;
  z-index: -5!important;
}

.chat-notification {
  text-align: center;
  z-index: -5!important;
}

#msgContainer:first-child {
  margin-top: 30px;
  z-index: -5!important;
}
