<style>
  ::ng-deep .mat-card-header-text { margin: 0 !important; }
  @media screen and (max-width: 768px) {
    ::ng-deep .mat-card-header-text { margin: 0 auto !important; }
  }
</style>

<div class="mt-5">
  <h3 class="text-center"> {{ errorMessage }} </h3>
  <mat-card class="">
    <mat-card-header>
      <mat-card-title>Ramverk 2 Inlogg</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="" #myForm="ngForm">
        <table class="" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="">
              <input matInput placeholder="E-Post address" id="email" [(ngModel)]="email" name="email" type="email" [email]="true" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="">
            <input matInput placeholder="Lösenord" id="password" [(ngModel)]="pass" type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button (click)="login()" id="go" color="primary"
        [disabled]="!myForm.valid">Logga in</button>
    </mat-card-actions>
    <small id="register" class="is-link text-primary" routerLink="/register">Inget Konto ?</small>
  </mat-card>
</div>
