<div class="main-nav mb-5">
  <header class="border border-dark">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex h-25">
          <!-- Brand -->
          <a class="navbar-brand" href="#" routerLink="/" ><i>Ramverk2</i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Links -->
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <ul class="navbar-nav">
                  <li class="nav-item">
                  <a class="nav-link" href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Hem</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="#" routerLink="/om" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Om</a>
                  </li>

                  <!-- Dropdown -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" routerLink="/redovisa" routerLinkActive="active" >
                          Redovisningar
                      </a>
                      <div class="dropdown-menu bg-secondary">
                          <a class="dropdown-item" href="#" routerLink="/redovisa/kmom01" routerLinkActive="active" >Kmom01</a>
                          <a class="dropdown-item" href="#" routerLink="/redovisa/kmom02" routerLinkActive="active" >Kmom02</a>
                          <a class="dropdown-item" href="#" routerLink="/redovisa/kmom03" routerLinkActive="active" >Kmom03</a>
                          <a class="dropdown-item" href="#" routerLink="/redovisa/kmom04" routerLinkActive="active" >Kmom04</a>
                          <a class="dropdown-item" href="#" routerLink="/redovisa/kmom05" routerLinkActive="active" >Kmom05</a>
                          <a class="dropdown-item" href="#" routerLink="/redovisa/kmom06" routerLinkActive="active" >Kmom06</a>
                          <a class="dropdown-item" href="#" routerLink="/redovisa/kmom10" routerLinkActive="active" >Kmom10</a>
                          <a href="#" class="dropdown-item" routerLink="/add/redovisa" routerLinkActive="active"
                              *ngIf="token">Lägg till Kmom
                          </a>
                      </div>
                  </li>
              </ul>
          </div>
      </nav> 
  </header>
</div>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
